<div><h2>Bars & Beers</h2></div>

<div><img src="img/beersmix.png" alt=""></div>

<form id="form" action="/login" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="Your username">

    <label for="password">Password</label><br>
    <input type="password" name="password">
<% if (errorMessage) { %>
    <div>
    <%= errorMessage %>
    </div>
<% } %>

    <button type="submit">Log in</button>
    <p class="account-message">
        Don't have an account? <a href="/signup"class="login_link">Sign up</a>
      </p>
  </form>
