.normal {
    font-family: $font-primary;
}
.block {
    display: block;
    text-align: left;
}
.text-distance {
    padding: 2% 0 2% 3%;
}

.button_map {
    border: 3px solid #00b084;
    background-color: #00b084;
    color: white;
    border-radius: 3px;

}