
.hompePage-box {
    width: 100%;
    padding: 5% 0% 5% 3%;
   
    color: $primary;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    display: flex;
    margin: 7% 0%;
    
    
}

.img-box {
    flex-grow: 1;
    padding: 3%;
    
    
}
.text-box {
    flex-grow: 1;
    align-self: flex-start;
    padding: 3% 15% 3% 0%;
}