$primary: black;
$secondary: gold;
$terciary: white;
$fourthy: #8000ff;
$font-primary: 'Lato', sans-serif;
$font-secundary: 'Gloria Hallelujah', cursive;
$font-size: 16px;
$footer-height: 60px;

html {
    font-size: $font-size;

    body {
        padding: 50px;
        font-family: $font-primary, $font-secundary;
        font-size: $font-size;
        color: $secondary;
          
        p {
          color: $primary;
        }
        h1 {
            font-family: $font-secundary;
            font-size: 2rem;
            color: black;
        }
        h2 {
            font-family: $font-secundary;
            font-size: 1.5rem;
            color: black;
        }
        h3 {
            font-family: $font-primary;
            font-size: 1.2rem;
            color: $secondary;
        }
        .container {
            margin: 10%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }    
}    
