.img-size {
    width: 100%;
}

.checkbox {
    padding: 20px 10px 0 0;

}
.bar {
    max-width: 100%;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.location {
    padding: 0 10px 0 0;
    width: 25%;
}
.black {
    color: $primary;
}

.address-class{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.button-address{
    border: 3px solid #00b084;
    background-color: #00b084;
    color: white;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.1rem;
}
.address-text-class {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0px 0px 20px 0px;
}
// a {
//     display: none;
// }