.text-size {
    font-size: 1rem;
    text-align: left;
}
.bold {
    font-weight: bold;
}
.nounderline {
    font-size: 1.15rem;
    padding: 0 0 5% 0;
    
}
.user-box {
    padding: 5% 0 0 0;
}

.avatar {
   width: 30%;
   margin: 0 5% 0 0;
}