.text-size {
    font-size: 1.1rem;
}
.bold {
    font-weight: bold;
}
.underline {
    font-size: 1.3rem;
    padding: 0 0 5% 0;
    text-decoration: underline;
}
.user-box {
    padding: 5% 0 0 0;
}

.avatar {
   
}