<nav class="nav-bar">
    
    <a class="nav-link" href="/bars&beers">&laquo; Back</a>
    <h2 class="title-center">Bars & Beers</h2>
    <p><%= currentUser.username %></p>
    <a class="nav-link" href="/logout">Logout</a>

</nav>