<div>
    <h1>Bars & Beers</h1>
    <p>Descubre qué bares tienen tus cervezas preferidas</p>
</div>

<div>
    <img src="img/birra-inicio.svg" alt="logo_homePage">
</div>

<div class="login-container">
    <a href="/login" class="login">Login</a>
    <a href="/signup" class="signup">SignUp</a>
</div>

