<div>
<h1>Bars & Beers</h1>
<p>Descubre las mejores cervezas de Barcelona</p>
</div>

<div>
    <img src="img/cheers_round.png" alt="logo_homePage">
</div>

<div class="links">
<a href="/signup" class="signup">SignUp</a>
<a href="/login" class="login">Login</a>
</div>

