<form id="form" action="/bars&beers/createBeer" method="POST">
    <label for="name">Beer name</label><br>
    <input type="text" name="name"
      placeholder="Beer name">
    <label for="description">Description</label><br>
    <input type="text" name="name"
        placeholder="description">
    <button type="submit">Create Beer</button>    
</form>