<h3>Bares con <span style="color: #FF0000">Estrella Damm</span> de Barril:</h3>
    <div id="map" style="margin: 10px 0px 0px 0px"></div>
  
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWv6vc64kLzD5S8sbIA0MsPtxQECIFzbQ"></script>
    <script type="text/javascript" src="/javascript/show.js"></script>