<a class="hompePage-box" href="/bars&beers/beers">
    
    <div class="img-box"><img src="img/beer-list.svg" alt="Beers List"> </div>
    
    <div class="text-box"><p>Beers List</p></div>

</a>

<a class="hompePage-box" href="/bars&beers/users">
    
    <div class="img-box">
        <img src="img/user-list.svg" alt="Users List">
    </div>
    
    <div class="text-box"><p>Users List</p></div>

</a>

<a class="hompePage-box" href="/bars&beers/newbars">
    <div class="img-box">
        <img src="img/create-bar.svg" alt="Create Bar"></div>
    
    <div class="text-box"><p>Create Bar</p></div>
</a>

