<nav>
    <p><%= currentUser.username %></p>
</nav>
<a href="/bars&beers/beers">Beers List</a>
<a href="/bars&beers/users">Users List</a>
<a href="/bars&beers/newbars">Create Bar</a>
<a href="/logout">Logout</a>
