

<form id="form" action="/bars&beers/newbars" method="POST">

    <label for="barType">Type of bar:</label>
    <select name="barType" id="barType">
        <option value="Bar">Bar</option>
        <option value="Restaurante">Restaurante</option>
        <option value="Taberna">Taberna</option>
        <option value="Bodega">Bodega</option>
        <option value="Casa">Casa</option>
        <option value="Cockteleria">Cockteleria</option>
        <option value="Cafeteria">Cafeteria</option>
    </select>

    <label for="name">Bar name</label><br>
    <input type="text" name="name" placeholder="Bar name">

    <h3>Select category</h3>
    <div class="bar">
    <div class="checkbox"><input type="radio" value="category" name="Manolo"></div>
    <div class="checkbox"><label class="black" for="category">Manolo</label></div>
    <div class="checkbox"><input type="radio" value="category" name="Chino"></div>
    <div class="checkbox"><label class="black" for="category">Chino</label></div>
    <div class="checkbox"><input type="radio" value="category" name="Moderno"></div>
    <div class="checkbox"><label class="black" for="category">Moderno</label></div>
</div>

    <label for="description">Description</label><br>
    <input type="text" name="description" placeholder="description">

    <h3>Address:</h3>
    <label for="street">Street</label><br>
    <input type="text" name="street" placeholder="C/">

    <label for="neighbourhood">Neighbourhood:</label>
    <select name="neighbourhood" id="neighbourhood">
        <option value="Poble Nou">Poble Nou</option>
        <option value="Poble Sec">Poble Sec</option>
        <option value="Raval">Raval</option>
        <option value="Borne">Borne</option>
        <option value="Gótico">Gótico</option>
        <option value="Sarria">Sarria</option>
        
    </select>
    <label for="City">City:</label>
    <select name="city" id="city">
        <option value="Barcelona">Barcelona</option>
        <option value="Almeria">Almería</option>
        <option value="Madrid">Madrid</option>
    </select>

    <h3>Draft Beers</h3>
    <div class="bar">
    <% beers.forEach((beer) => { %>
        <div class="flex location">
            <div class="checkbox">
                <input type="checkbox" name="BeersDraft" value="<%= beer._id %>">
            </div>
            <div class="img-beer">
                <img class="img-size" src="<%= beer.beerlogoImage %>" alt="">
            </div>    
        </div>
    <% }) %>
    </div>

    <h3>Bottle Beers</h3>
    <div class="bar">
    <% beers.forEach((beer) => { %>
        
        <div class="flex location">
            <div class="checkbox">
                <input type="checkbox" name="BeersBottle" value="<%= beer._id %>">
            </div>
            <div class="img-beer">
                 <img class="img-size" src="<%= beer.beerlogoImage %>" alt="">
            </div>
        </div>
    
    <% }) %>

    <label for="">Direccion Google</label>
    <input id="address" type="textbox">
    <input type="button" value="Encode" onclick="geocodeAddress()" id="submit">

    <label>Geolocation:</label>
        <input type="text" name="latitude" placeholder="latitude" id="latitude" >
        <input type="text" name="longitude" placeholder="longitude" id="longitude">
    <button type="submit">Create Bar</button>    
</form>

<div id="map"></div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWv6vc64kLzD5S8sbIA0MsPtxQECIFzbQ"></script>
<script type="text/javascript" src="/javascript/main.js"></script>

