<h2>UpDate the Beer</h2>
<form id="form" action="/bars&beers/<%= beer._id %>" method="POST">
    <label for="name">Beer name</label><br>
    <input type="text" name="name" placeholder="Beer name" value="<%= beer.name %>">
    <label for="description">Description</label><br>
    <input type="text" name="description" placeholder="description" value="<%= beer.description %>">
    <button type="submit">Update Beer</button>    
</form>