<h1>Lista de usuarios</h1>

<ul>
    <% users.forEach((user) => { %>
        <li><a href="/bars&beers/<%= user._id %>/userProfile"><%= user.username %> </a>
            <%= user.neighbourhood %>
            <%= user.beerType %>
        </li>
   <% }) %>
</ul>